<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="MotorID" value=""/>
		<add key="MotorType" value="" />
		<add key="MotorVersion" value="" />
	</appSettings>
	
</configuration>